# Python Variables

- Variables are containers for holding values
- Variables are created by assigning a value to a particular name

In [1]:
x = 5
y = "Hello, World"
x, print(y)

Hello, World

(5, None)

## Rules for variable naming in Python
- A variable must start with a letter or underscore character
- A variable name cannot start with a number but can contain numbers or characters in it.
- Variable names are case sensitive

In [11]:
#Valid variable names
myname = "Ridwan"
my_name = "Ridwan"
_my_name = "Ridwan"
myName = "Ridwan"
MYNAME = "Ridwan"
myname1 = "Ridwan"

NameError: name 'my' is not defined

In [10]:
#invalid variable names
2myname = "Ridwan"
my-name = "Ridwan"
my name = "Ridwan"
my.name = "Ridwan"
.myName = "Ridwan"

SyntaxError: invalid decimal literal (253174296.py, line 2)

## Multiple Values to Multiple Variable Assignment

In [13]:
name, age, sex = "Ridwan", 24, "Male"
print(name)
print(age)
print(sex)

Ridwan
24
Male

## One Value to Multiple Variable Assignment

In [15]:
State = Capital = LGA = "Kano"
print(State)
print(Capital)
print(LGA)

Kano
Kano
Kano

# Python Data Types

- The different ways in which a variable stores data is called data type.
- In Python we have various data types, but the one we will be focusing on for this class are; 
    - String
    - Int
    - Float
    - List
    - Tuple
    - Range
    - dicionary
    - set 
    - boolean

## String
- These are text data types and are usually surrounded by single or double quotation marks

In [16]:
print("Hi")
print('Hi')

Hi
Hi

In [19]:
#assigning a single line string
name = "Mike"
#assigning a multi line string
statement = '''The quick brown fox
Jumps Over a Lazy Dog ....
'''
print(name)
print(statement)

Mike
The quick brown fox
Jumps Over a Lazy Dog ....

Elements of a string can be accessed using square brackets

In [26]:
a = "Hi, Mom"
print(a[4])
print(a[0])

M
Hi,

To check the length of a string, you use the `len()` function

In [28]:
a = "Hi, Mom"
print(len(a))

7

To check if a particular character or Phrase is in a string, we use the keyword `in`

In [31]:
sentence = """
The Quick Brown Fox Jumps Over A Lazy Dog
"""
#lets check if Fox is in the variable sentence
"Fox" in sentence

True

A range of string can be indexed using the `:` operator

In [38]:
b = "Hi, Mom and Dad"
print(b[5:9])
print(b[:6])
print(b[2:])

om a
Hi, Mo
, Mom and Dad

Indexing a string with a negative value, picks a character starting from the right and counting from 1 instead of 0

In [48]:
b = "Hi, Mom and Dad"
print(b[-5])

d

## Numeric Types
- In Python we have 3 numeric types:
    - int
    - float
    - complex
- We will only focus on the integer and float numeric types for now.
- Integers are whole numbers, either positive or negative without decimal points
- float are numbers with decimals, either positive or negative  measured on a continous scale

In [51]:
x = 5 #integer
y = 5.0 #float
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

Type conversion allows you transform one numeric data type to another

In [55]:
x = 5 #int
y = 5.0 #float
print(type(x))
print(type(y))

a = float(x)
y = int (x)
print(a)
print(y)
print(type(a))
print(type(y))

<class 'int'>
<class 'float'>
5.0
5
<class 'float'>
<class 'int'>

## Boolean Values
- Any expression that returns `True` or `False` is known as a boolean expression.
- Boolean values are one of these two values `True` or `False`

In [58]:
print("Cat" == "Dog")
print(100 < 4)
print(5.0 == 5)

False
False
True

# Python Operators
- Operators are used for performing operations between variables and values
- The operators are dvided into the following groups
    - Arithmetic Operators
    - Assignment Operators
    - Comparison Operators
    - Logical Operators
    - Identity Operators
    - Membership Operators
    - Bitwise Operators

## Arithmetic Operators
These are operators used in performing mathematical operations

In [64]:
print(5 + 5) #addition
print(6 - 3) #subtraction
print(8 * 2) #multiplication
print(10/4) #division
print (9%2) #modular division
print(4**2) #raise to the power
print(9//2) #integer division

10
3
16
2.5
1
16
4

## Python Assignment Operators
These are used to assign values to variables

In [78]:
x = 5

In [79]:
#addition assignment operator
y += 5
#same as
y = y + 5
y

45

In [81]:
#subtraction assignment operator
z = 8
z -= 8
#same as
z = z - 8
z

-8

In [82]:
#multiplication assignment operator
b = 8
b *= 8
#same as
b = b * 8
b

512

In [83]:
#division assignment operator
c = 8
c /= 8
#same as
c = c / 8
c

0.125

## Comparison Operators
They are used in comparing two values, they usually return a boolean value

In [84]:
print(5 == 7) #equal operator
print(5 != 5) # not equal operator
print(8 > 0.3) # Greater than operator
print(8 < 9) #less than operator
print(9 >= 9) #greater than or equal to operator
print(10 <= 9) #less than equal operator

False
False
True
True
True
False

## Python Logical Operators
These operators are used to combine conditional statements

In [85]:
# and operator
x < 5 and x > 5

False

In [86]:
# or operator
x == 7 or x > 7

False

In [87]:
# not operator
not(x < 7)

False

## Python Membership Operators
These operators are used to test if a particular variable or value is in a sequence

In [92]:
#in operator
print("Age" in "This is my age")
print(5 in [4,5,6,7])

False
True

In [93]:
#not in operator
"Hi" not in "Hi, Mom and Dad"

False

### Lists
* Lists are data structures which are mutable or changeagble and contains sequence of elements. 
* A list can be used to store different data types.
- Lists are created using square brackets
- Lists are ordered i.e items have a defined order that can't be changed
- item in a list can be duplicated

In [99]:
# create a list
states = ["Kano","Abuja","Lagos","Ogun"]
print(states)

['Kano', 'Abuja', 'Lagos', 'Ogun']

Items in a list can be selected by indexing

In [100]:
states[0]

'Kano'

You can also change the items in a list

In [103]:
states[2] = "Osun"
print(states)

['Kano', 'Abuja', 'Osun', 'Ogun']

You can check for a list length with the `len()` function

In [104]:
len(states)

4

A list can contain various data types

In [106]:
my_list = [1, "Boy", True, [1,"Girl"]]
print(my_list)

[1, 'Boy', True, [1, 'Girl']]

You can check if a variable is a list, using the `type()`function

In [107]:
type(my_list)

list

Items in a list can be indexed using the square brackets

In [114]:
my_list[3]

[1, 'Girl']

In [115]:
my_list[3][1]

'Girl'

## Tuple
- They are used to store variables of various data types
- Tuples are immutable i.e their values can not be changed
- Unlike lists, they are written with round brackets
- tuples are ordered
- Allow duplicate values

In [119]:
x = (1,"Boy",True,(3,4),[1,2,3])
x

(1, 'Boy', True, (3, 4), [1, 2, 3])

A tuple length can be checked using the `len()` function

In [120]:
len(x)

5

Tuples are immutable, values in a tuple can't be changed

In [121]:
x[4] = 5

TypeError: 'tuple' object does not support item assignment

Just like lists, the item in a tuple can be indexed using the square brackets

In [123]:
print(x[2])
print(x[1])
print(x[4])

True
Boy
[1, 2, 3]

## Sets
- Sets are used to store multiple items in a single variable
- Sets are unordered i.e you cannot be sure in which order the items appeared and the items can't be referred to or indexed by key
- Duplicates are not allowed in a set
- You can't change items in a set but you can add or remove items
- Sets are written with curly brackets

In [134]:
my_set = {1, 2, 3, "name","age"}
my_set[5] #returns error

TypeError: 'set' object is not subscriptable

In [137]:
#add items
my_set.add("apple")
my_set

{1, 2, 3, 'age', 'apple', 'name'}

In [138]:
#remove set items
my_set.remove("apple")

## Dictionary
- Stores data values in key: value pairs
- Dictionary is ordered, changeable and does not allow duplicates

In [140]:
my_dict = {
    "name": "Jacob",
    "Age": 19,
    "Sex": "Male",
    "Marital Status": "Single"
}

Dictionary items can be accessed by the key names

In [145]:
my_dict["name"]

'Jacob'

These items can be changed

In [146]:
my_dict["name"] = "John"
my_dict

{'name': 'John', 'Age': 19, 'Sex': 'Male', 'Marital Status': 'Single'}

Duplicates can't be allowed

In [147]:
my_dict = {
    "name": "Jacob",
    "name": "John"
    "Age": 19,
    "Sex": "Male",
    "Marital Status": "Single"
}

SyntaxError: invalid syntax (1338527708.py, line 4)